<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$CodeFirstUnitOfWork20211209095808</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codefirstunitofwork20211209095808.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d0614e27-586a-4afd-a24d-5829433e8c2f/resourcegroups/CodeFirstUnitOfWork20211209095808ResourceGroup/providers/Microsoft.Web/sites/CodeFirstUnitOfWork20211209095808</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://codefirstunitofwork20211209095808.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>